body
{
	background-image:url('./Images/itro.jpg');
}
#credit
{
	background-color: #3B5998;
	color: #FFFFFF;
	width: 135px;
	border-radius: 15px;
	position: relative;
	left: 550px;
	display: none;
}
#bck
{
	background-color: #3B5998;
	color: #FFFFFF;
	width: 100px;
	border-radius: 15px;
	position: relative;
	top: -69px;	
	display: none;
}
#anil
{
	background-color: #3B5998;
	color: #FFFFFF;
	display: none;
	width: 210px;
	border-radius: 15px;
	position: relative;
	top: 75px;
	left: 500px;

}
#he
{
	margin-left: 7px;
}
#din
{
	background-color: #3B5998;
	color: #FFFFFF;
	width: 130px;
	border-radius: 15px;
	position: relative;
	top: 65px;
	left: 500px;
	display: none;
}
#line
{
	background-color: #FFFFFF;
	width: 2px;
	height: 550px;
	position: relative;
	left: 300px;
	top: -580px;
	display: none;

}
#ran
{
	background-color: #3B5998;
	color: #FFFFFF;
	width: 265px;
	border-radius: 15px;
	position: relative;
	top: 55px;
	left: 500px;
	display: none;
}
#img1
{
	width: 85px;
	display: none;
	position: relative;
	top: -175px;
	height: 120px;
	border-radius: 7px;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	box-shadow: 5px 3px 3px #888888;
}
#img2
{
	position: relative;
	width: 85px;
	display: none;
	height: 120px;
	border-radius: 7px;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 2px;
	top: -110px;
	border-color: #FFFFFF;
	box-shadow: 5px 3px 3px #888888;
}
#img3
{
	width: 85px;
	position: relative;
	display: none;
	top: -40px;
	height: 120px;
	border-radius: 7px;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	box-shadow: 5px 3px 3px #888888;
}
#animat
{
	color: #FFFFFF;
	position: relative;
	top: -1120px;
	display: none;
	left: 320px;
}
#he
{
	margin-bottom: 0px;
}
#li
{
	width: 500px;
	height: 2px;
	background-color: #FFFFFF;
}
#dinmat
{
	color: #FFFFFF;
	position: relative;
	top: 50px;
}
#li1
{
	width: 500px;
	height: 2px;
	background-color: #FFFFFF;
	position: relative;
	top: -22px;
	margin-bottom: 0px;
}
#ranmat
{
	color: #FFFFFF;
	position: relative;

	top: 100px;
}
#li2
{
	width: 500px;
	height: 2px;
	position: relative;
	top: -22px;
	background-color: #FFFFFF;
}
a
{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}